## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
sampl_list_1 = random.sample(range(1,101), 80)
print(sampl_list_1)

len (sampl_list_1)

[11, 21, 97, 37, 96, 18, 66, 38, 67, 65, 72, 86, 80, 55, 15, 61, 85, 14, 12, 70, 28, 6, 30, 49, 24, 51, 71, 46, 20, 88, 48, 34, 4, 54, 44, 39, 89, 29, 83, 42, 87, 2, 81, 90, 10, 95, 68, 35, 100, 75, 60, 40, 16, 5, 23, 82, 43, 26, 9, 78, 73, 94, 79, 53, 62, 91, 3, 69, 64, 52, 33, 58, 59, 7, 74, 22, 36, 57, 77, 41]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
set1=set(sampl_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [2]:
import random

sampl_list_2 = []

for i in range(0,80):
    x = random.randint(1,100)
    sampl_list_2.append(x)

print(sampl_list_2)

[74, 85, 9, 58, 38, 77, 85, 60, 51, 3, 49, 30, 65, 45, 57, 98, 33, 77, 35, 59, 32, 87, 93, 31, 46, 81, 11, 98, 81, 42, 30, 38, 55, 5, 67, 32, 74, 20, 2, 6, 88, 67, 34, 54, 95, 3, 63, 26, 74, 13, 53, 56, 24, 9, 60, 19, 1, 95, 98, 83, 92, 27, 27, 19, 28, 48, 59, 97, 97, 91, 6, 80, 57, 95, 22, 37, 2, 31, 96, 38]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [3]:
set2=set(sampl_list_2)
len(set2)
#no now it is only 55

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [10]:
set3=set()
for i in set1: 
    if i not in set2:
        set3.add(i)  #append not attibute to set

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [13]:
set4=set()
for i in set2: 
    if i not in set1:
        set4.add(i)

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [12]:
set5=set()
for i in set2: 
    if i in set1:
        set5.add(i)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# PSEUDO CODE
set5= set1 AND set2
set3= set1 NOT set2
set4= set2 NOT set1
set1+set2=set3+set4+2*set5
# CODE PYTHON
len(set1)+len(set2)==len(set3)+len(set4)+2*len(set5)

In [14]:
len(set1)+len(set2)==len(set3)+len(set4)+2*len(set5)

True

#### Create an empty set called `set6`.

In [15]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [17]:
set6.update(set3|set5)
set6

{2,
 3,
 4,
 5,
 6,
 7,
 9,
 10,
 11,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 23,
 24,
 26,
 28,
 29,
 30,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 46,
 48,
 49,
 51,
 52,
 53,
 54,
 55,
 57,
 58,
 59,
 60,
 61,
 62,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 94,
 95,
 96,
 97,
 100}

#### Check if `set1` and `set6` are equal.

In [18]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [23]:
set1.issubset( set2 )

False

In [21]:
set1.issubset( set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [24]:
# Your code here
set3.union(set4|set5)==set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [7]:
# Your code here
print(set1)
set1.pop()

{2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 28, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 73, 74, 77, 78, 79, 81, 82, 84, 86, 88, 92, 93, 94, 95, 96, 97, 98, 99, 100}

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```

```

In [10]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print (set1)# Your code here

{3, 4, 5, 6, 7, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 33, 35, 36, 37, 38, 40, 42, 43, 45, 46, 47, 48, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 67, 68, 70, 73, 74, 77, 78, 82, 84, 86, 88, 92, 93, 94, 95, 96, 97, 98, 100}